extends ../../layouts/default.pug
include ../../mixins/show-alert.pug
include ../../mixins/select-tree.pug

block main
    +alert-error(5000)

    .container.my-5
        .card.form-card
            h2(class="mb-4 text-center") Thêm mới sản phẩm
            form(action=`${prefixAdmin}/products/create` id="form-create-product" method="POST" enctype="multipart/form-data" form-upload)
                .row
                    .col-12
                        .form-group
                            label Tiêu đề
                            input(type="text" class="form-control" name="title" required)
                .row
                    .col-md-6
                        .form-group
                            label Danh mục
                            .action-box
                                select(name="category_id" class="form-control")
                                    option(disabled selected) -- Chọn danh mục --
                                    if (categoryTree)
                                        +select-tree(categoryTree)
                    .col-md-6
                        .form-group
                            label Vị trí
                            .action-box
                                input(type="number" class="form-control" name="position" placeholder="Tự động tăng" min="1")
                .row
                    .col-md-4
                        .form-group
                            label Giá
                            input(type="number" class="form-control" name="price" value="0" min="0")
                    .col-md-4
                        .form-group
                            label % Giảm giá
                            input(type="number" class="form-control" name="discountPercentage" value="0" min="0")
                    .col-md-4
                        .form-group
                            label Số lượng
                            input(type="number" class="form-control" name="stock" value="0" min="0")
                .row
                    .col-12
                        .form-group
                            label Mô tả
                            textarea(class="form-control textarea-mce" name="description" rows="5")
                .row
                    .col-md-6
                        .form-group(upload-image)
                            label Ảnh sản phẩm
                            input(type="file" class="form-control-file" name="thumbnail" accept="image/*" upload-image-input)
                            .box-image
                                img(src="" upload-image-preview class="image-preview")
                                button(type="button" class="btn-remove-image") ×
                    
                    .col-md-6
                        .row
                            .col-12
                                label Trạng thái
                                .d-flex.gap-3
                                    .form-check.form-check-inline
                                        input(type="radio" class="form-check-input" id="statusActive" name="status" value="active" checked)
                                        label(for="statusActive" class="form-check-label") Hoạt động
                                    .form-check.form-check-inline
                                        input(type="radio" class="form-check-input" id="statusInActive" name="status" value="inactive")
                                        label(for="statusInActive" class="form-check-label") Dừng hoạt động
                            .col-12.mt-3
                                label Nổi bật
                                .d-flex.gap-3
                                    .form-check.form-check-inline
                                        input(type="radio" class="form-check-input" id="featured" name="featured" value="1")
                                        label(for="featured" class="form-check-label") Có
                                    .form-check.form-check-inline
                                        input(type="radio" class="form-check-input" id="notFeatured" name="featured" value="0" checked)
                                        label(for="notFeatured" class="form-check-label") Không
                .text-right.mt-4
                    button(type="submit" class="btn btn-primary px-5") Tạo mới