include ../mixins/sub-menu.pug
header.header
  .container
    .row.align-items-center
      .col-0
        .inner-logo
          a(href="/")
            img(src="/images/logo.svg", alt="Logo")
      .col-3
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              -const path = `/products`
              a(href=path) Sản phẩm
                +subMenu(categoryTree,path)