extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-grid.pug
block main 
    h1 Trang chủ
    .container.my-3
        .row
        .col-12
            .box-head
            +boxhead("Danh sách sản phẩm nổi bật")
        .row
            +product-grid(productsFeatured)
    .container.my-3
        .row
        .col-12
            .box-head
            +boxhead("Danh sách sản phẩm mới nhất")
        .row
            +product-grid(latestProducts)