mixin category-filter(categories)
  .category-filter
    ul.list-group
      each item in categories
        li.list-group-item
          button(class=`btn btn-sm ml-1 btn-outline-success ${item.class}`,data-slug=item.slug, button-category) #{item.title}