extends ../../layouts/default.pug
include ../../mixins/show-alert.pug

block main
    +alert-error(3000)

    .container.my-5
        h1(class="text-success mb-4") Chào mừng bạn đến với trang đăng ký tài khoản
        p(class="mb-4") Hãy điền đầy đủ thông tin để tạo tài khoản của bạn và trải nghiệm những tính năng tuyệt vời của chúng tôi!
        .row
            .col-8
                h2(class="text-success mb-2") Đăng ký tài khoản
                form(action="/user/register" method="POST")
                    div(class="mb-3")
                        label Họ và tên
                        input(type="text" name="fullname" class="form-control" required)

                    div(class="mb-3")
                        label Email
                        input(type="email" name="email" class="form-control" required)

                    div(class="mb-4")
                        label Mật khẩu
                        input(type="password" name="password" class="form-control" required)

                    button(type="submit" class="btn btn-success") Đăng ký